.container {
    width: 320px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    background: #93C8B4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    position: relative;
}

.signup {
    position: absolute;
    width: 146px;
    height: 100px;
    left: 87px;
    top: 35px;

    font-family: 'Strong';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #776D61;
}

.formContainer {
    position: relative;
    padding: 10px;
    width: 223px;
    height: 358px;
    left: 49px;
    top: 125px;
    display: flex;
    flex-direction: column;
}

.back {
    position: absolute;
    width: 151px;
    height: 15px;
    left: 85px;
    top: 489px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #776D61;
}
