.join_container {
    width: 320px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    background: #93C8B4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.join_link_container {
    position: relative;
    width: 151px;
    height: 15px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #776D61;
}

.join_logo_font {
    position: relative;
    width: 146px;
    height: 100px;

    font-family: 'Strong';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #776D61;
}

.join_error_msg {
    position: absolute;
    color: red;
    font-weight: 200;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.join_form_group {
    position: relative;
    margin-bottom: 25px;
}

.formContainer {
    position: relative;
    padding: 10px;
    width: 223px;
    height: 300px;
    left: 49px;
    top: 183px;
    display: flex;
    flex-direction: column;
}

.back {
    position: absolute;
    width: 151px;
    height: 15px;
    left: 85px;
    top: 489px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #776D61;
}
